<div class="row">
  <h1><%= t("title.welcome") %>
    <% if usuario_signed_in? %>
    <%= current_usuario.name %>
    <% end %>
  </h1>
  
  <div class="large-9 columns">
    
      <%= image_tag("indice_chat.jpeg", :class => "image_banner") %>
    
  </div>
</div>
