<h3>Usuarios del foro:</h3>
<div class="row large-9 columns">

  <% @usuarios.each do |users| %>
    <div class="large-6 small-6 columns">

      <div class="large-12 columns panel callout radius">
        <div class="large-6 columns hovergallery">
          <%= link_to(
                       image_tag(users.avatar,
                                 :class => "imagen-usuario"),
                       controller: :usuarios, action: :show, id: users.id) %>
        </div>

        <div class="large-6 columns">
          <p>
            <strong>
              <%= users.name %>
            </strong>
          </p>

          <p>
            <% unless users.description.nil? %>
              <%= users.description[0..30] %>
              <strong>
                <%= link_to '...', controller: :usuarios, action: :show, id: users.id %>
              </strong>
            <% end %>
          </p>
        </div>
      </div>

    </div>
  <% end %>

  <div class="large-6 small-6 columns">
  </div>
</div>
