<div class="row">

  <div class="large-9 columns">
    <div class="row">
      <% @all_comments.each do |comment| %>
        <div class="large-2 columns small-3">
          <%= image_tag(current_usuario.avatar) %>
        </div>

        <div class="large-10 columns">
          <p>
              <strong><%= current_usuario.name %> dice: <%= comment %> </strong>
          </p>
        </div>
      <% end %>
    </div>
  </div>

</div>
